@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto+Slab:400,300,100);

body {
	/* padding-top: 50px; /50 is default*/
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	background: pink;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
}

h3 {
	font-size: 1em;
}

.price {
	display: inline-block;
	font-size: .7em;
}

.caketext {
	font-size: .8em;
}

/** HEADER NAVIGATION **/

header .navbar {	
	transition: all .5s ease-out;
}

header .navbar-default {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

header .navbar-default .navbar-nav a {
	color: white;
	padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
	color: red;
}

header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color:white;
	background: transparent;
	border-bottom: 4px solid red;
	text-shadow: none;
}

header .navbar-default.inbody .navbar-nav .active a {
	font-weight: 700;
	color:black;
	background: transparent;
	border-bottom: 4px solid red;
	text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
	color: pink;
	background:transparent;
	text-shadow: none;
}


/* CAROUSEL */

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	transition: opacity ease-out .8s;
	left: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
}

.carousel.fade .item:first-child {
	top: auto;
	opacity: 0;
	position: relative;
}

.carousel.fade .item.active {
	opacity: 1;
}

.carousel-control {
	opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

#featured .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

/*
.navbar {
	border-radius: 0;
	border: 0;
}

/** NAVBAR BRAND **/

header .navbar-brand {
	background: url(logo2.png);
	background-repeat: no-repeat;
	height: auto;
	padding-top: 0;
}

header .navbar-brand h1 {
	color: white;
	margin:0;
	font-size: 1.8em;
	font-weight: 400;
	padding-left: 105px;
	opacity: 0;
}

header .navbar-brand span.subhead {
	font-family: "Roboto Slab", sans-serif;
	font-size: .5em;
	font-weight: 100;
	display: block;
}

/** NAVBAR TOGGLE **/

header .navbar-toggle {
	background-color: pink;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media only screen and (max-width: 768px) {
	header .navbar-collapse.in {
		background-color: rgba(0,0,0,.5);
	}
}

/*
.cookies {
	margin-top:20px;
	border: 4px solid rgba(250,250,200,0.8);
}
*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
} /* shadow disap. */


/** nav inbody **/
header .navbar {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0;
	margin: 0;
}

header .navbar .navbar-nav {
	padding-top: 10px;
}

header .inbody {
	background: rgba(219, 174, 202, .9);
}

header .navbar.inbody {
	padding-bottom: 0;
	padding-top: 0;
}

header .navbar.inbody .navbar-nav {
	padding-top: 10px;
	padding-bottom: 10px;
}

header .inbody .navbar-brand {
	background-position: top left;
	padding-bottom: 0;
	margin-left: 10px;
	padding-bottom: 10px;
}

header .inbody .navbar-brand  {
	
}



/** PAGE *****/

.page {
	padding: 80px 0;
}

.page h2 {
	text-align: center;
	margin-bottom: 50px;
}

/** PAGE MISSION **/
#mission {
	background-color: white;
	background-image: linear-gradient(to top, pink, white);
	border-top: 20px solid white;
}

#mission p {
	line-height: 1.5;
}
/** PAGE SERVICES **/
.service {
	margin: 20px 0;
	text-align: center;
}

#services img.icon {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 5px;
	max-width: 300px;
}


#services h3 {
	margin-bottom: 10px;
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
	.service p {
		padding: 0 20%;
	}
}

/** PAGE STUFF **/

#staff {
	background-image: linear-gradient(to bottom, pink, white);
}

.doctor {
	margin: 10px 0;
}

.doctor h3 {
	font-weight: 600;
	font-size: 1.2em;
	color: #6F4E36;
	padding-bottom: 5px;
}

.doctor p {
	font-size: .8em;
}

.doctor img {
	width: 100%;
	max-width: 250px;
	margin-bottom: 120px;
}

@media only screen and (max-width: 768px) {
	.doctor img {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	}
/** TESTIMONIALS **/

body #testimonials {
	padding: 0;
}


#testimonials h2 {
	display: none;
}


#testimonials blockquote {
	margin: 0;
	padding: 0;
	border-left: none;
	min-height: 500px;
	position: relative;
}

#testimonials blockquote .quote {
	background-color: rgba(255,255,255,.6);
	padding-top: 20px 5%;
	position: absolute;
	bottom: 0;
	width: 75%;
	font-weight: 400;
	border-radius: 0 50px 0 0;
	padding-left: 20px;
}

#testimonials blockquote .quote:hover {
	background-color: rgba(239,240,196,.9);
}

#testimonials #janeh {
	background: url(cookie6.jpg) no-repeat center;
	background-size: cover;
}

#testimonials #mcphersons {
	background: url(cake7.jpg) no-repeat center;
	background-size: cover;
}

#testimonials .quote .more, #testimonials .quote .customer {
	opacity: 0;
	font-size: 0;
	line-height: 0;
	padding-top: 10px;
}

#testimonials .quote:hover .more {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	display: block;
	opacity: 1;
	font-size: .8em;
	line-height: 120%;
}

#testimonials .quote:hover .customer {
	display: block;
	font-size: .7em;
	text-align: right;
}

#testimonials .quote .intro:after {
	content: '...hover me!';
}

#testimonials .quote:hover .intro:after {
	content: '';
}


/** FOOTER **/
footer {
	background-color: white;
	font-size: .8em;
	padding: 50px 0 40px 0;
}

footer a {
	color: pink;
}

footer a:hover {
	color: red !important;
}

footer .phone {
	font-size: 1.4em;
	font-weight: 400;
	color: red;
}

footer .navbar {
	margin-bottom: 0px;
	min-height: 0;
}

footer .navbar-default {
	background-color: transparent;
	border: none;
	margin-right: 40px;
}

footer .navbar-nav>li a {
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: underline;
}

footer .rights {
	text-align: center;
}

footer .content {
	margin-top: 80px;
}


@media only screen and (max-width: 768px) {
	footer .content {
		margin-top: 10px;
		text-align: center;
	}

	footer .rights {
		margin-top: 150px;
	}

	.page h2 {
		text-align: center;
		margin-bottom: 25px;
		font-weight: 400;
	}

}
